﻿@model List<Bank.Models.ClientFormViewModel>


<table style="text-align: center">
    <tr>
        <th>PESEL</th>
        <th>Imię i nazwisko</th>
        <th>Numer dowodu osobistego</th>
        <th>Dane kontaktowe</th>
        <th>Umowy</th>
        <th>Akcja</th>
    </tr>
    <tbody>

        @if (!Model.Any())
        {

            <tr>
                Brak klientów w bazie o podanym kryterium
            </tr>

        }
        else
        {
            foreach (var client in Model)
            {
                <tr>
                    <td>@client.Pesel</td>
                    <td>@client.FullName</td>
                    <td>@client.IdCardNumber</td>
                    <td>@Html.ActionLink("Edytuj", "EditContact", "Client", new { clientId = @client.ClientId }, null)</td>
                    @if (client.HaveAnyActiveDeal)
                    {
                        <td>
                            @Html.ActionLink("Umowy klienta", "DealsOfClient", "Deal", new { clientId = @client.ClientId }, null)
                        </td>
                    }
                    else
                    {
                        <td>Brak aktywnych</td>
                    }
                    <td>@Html.ActionLink("Nowa umowa", "SelectNewDeal", "Deal", new { clientId = @client.ClientId }, null)</td>
                </tr>
            }


        }

    </tbody>

</table>
