﻿
@{

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "Clients",
        Url = Url.Action("ClientsList")
    };

}

<div class="row">
    <div class="col-md-offset-2 cols-md-8 clientslist">

        @using (Ajax.BeginForm(ajaxOpts))
        {

            <div class="col-md-12">
                <label>
                    @Html.RadioButton("searchBy", "FullName", true)Imię i nazwisko 
                </label>

                <label>
                    @Html.RadioButton("searchBy", "Pesel") PESEL
                </label>
            </div>

            <div class="col-md-12">
                <br>
                @Html.TextBox("searchString", null)
                <input type="submit" class="panel-button" value="Szukaj"/>
            </div>

            <div class="clients-table-head">Klienci</div>
        }

        <div id="Clients">
            @Html.Action("ClientsList")
        </div>

    </div>
</div>
