﻿@model Bank.Models.ContactFormViewModel

<div class="row">
    <div class="col-md-offset-3 cols-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br />
            <br />
            <div class="col-md-offset-3 cols-md-4">
                <h4>Edycja danych kontaktowych klienta: @Model.FullName</h4>
            </div>
            <br />

            <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="button" class="btn btn-info" value="Wstecz" onclick="location.href = '@Url.Action("ClientsPage", "Client")'" />
                        <input type="submit" value="Zapisz" class="btn btn-success"/>
                    </div>
                </div>

        }
    </div>
</div>

