﻿@using Bank.Entities
@model List<Bank.Entities.Deal>



    <div class="row">
        <div class="col-md-offset-3 cols-md-4">
            <br />
            <br />
            <div class="col-md-offset-3 cols-md-4">
                <h4> Umowy zawarte z klientem: @Model.First().Client.FullName </h4>
            </div>
            <br />
            <br />
            <ul>
                @foreach (var deal in Model)
                {
                    <li class="li">
                        @if (deal.Product is Credit)
                        {
                            @Html.ActionLink(@deal.Product.Name, "EditCredit", "Deal", new {@productId = deal.ProductId}, new {@class = "link"})
                        }
                        else if (deal.Product is Account)
                        {
                            @Html.ActionLink(@deal.Product.Name, "EditAccount", "Deal", new { @productId = deal.ProductId }, new { @class = "link" })
                        }
                        else if (deal.Product is Deposit)
                        {
                            @Html.ActionLink(@deal.Product.Name, "EditDeposit", "Deal", new { @productId = deal.ProductId }, new { @class = "link" })
                        }
                    </li>

                }           
            </ul>
        </div>
</div>