﻿@model Bank.Models.CreditViewModel

<div class="row">
    <div class="col-md-offset-3 cols-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br/>
            <br/>

            <div class="col-md-offset-3 cols-md-4">
                <h4> Dane zawartej umowy </h4>
            </div>
            <br/>
            <hr/>
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.ClientId)

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Name, Model.Names, Model.Name.ToString(), new {@class = "form-control", onchange = "setRateOptionsByCreditType(this.value)"})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>
            <br/>
            <br/>

            <div class="form-group">
                @Html.LabelFor(model => model.DateStart, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateStart, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateStart, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateEnd, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateEnd, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateEnd, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Currency, Model.Currencies, Model.Currency.ToString(), new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Currency, "", new {@class = "text-danger"})
                </div>
            </div>

            <br/>
            <br/>

            <div class="form-group">
                @Html.LabelFor(model => model.Value, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Value, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Value, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdditionalInsurance, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    <div class="checkbox-position">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.AdditionalInsurance)
                            @Html.ValidationMessageFor(model => model.AdditionalInsurance, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AmountOfInstalment, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AmountOfInstalment, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AmountOfInstalment, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubscribedSum, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SubscribedSum, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.SubscribedSum, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RateOfInterest, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.RateOfInterest, Model.RateOfInterests, Model.RateOfInterest.ToString(), new {@class = "form-control", id = "rate"})
                    @Html.ValidationMessageFor(model => model.RateOfInterest, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AdditionalInfo, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="button" class="btn btn-info" value="Wstecz" onclick="location.href = '@Url.Action("DealsOfClient", "Deal", new {@clientId = Model.ClientId}, null)'"/>
                    <input type="submit" value="Zapisz" class="btn btn-success"/>
                </div>
            </div>

        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/creditForm")

    <script type="text/javascript">

        $(document).ready(function () {
            animateCreditForm();
        });

    </script>
}