﻿@model Bank.Models.BankAccountViewModel

<div class="row">
    <div class="col-md-offset-3 cols-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br/>
            <br/>

            <div class="col-md-offset-3 cols-md-4">
                <h4> Nowe konto </h4>
            </div>
            <br/>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group" id="field1">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Name, Model.Names, "Wybierz rodzaj", new {@class = "form-control", onchange="setCurrencyOptionsByAccountType(this.value)"})
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field2">
                @Html.LabelFor(model => model.DateStart, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateStart, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateStart, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field3">
                @Html.LabelFor(model => model.DateEnd, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.DateEnd, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateEnd, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field4">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.Currency, Model.Currencies, "Wybierz walutę", new {@class = "form-control", id="currency"})
                    @Html.ValidationMessageFor(model => model.Currency, "", new {@class = "text-danger"})
                </div>
            </div>


            <div class="form-group" id="field5">
                @Html.LabelFor(model => model.RateOfInterest, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.RateOfInterest, Model.RateOfInterests, "Wybierz wysokość oprocentowania", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.RateOfInterest, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field6">
                @Html.LabelFor(model => model.MonthlyAccountPayment, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.MonthlyAccountPayment, Model.MonthlyAccountPayments, "Wybierz koszt", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MonthlyAccountPayment, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field7">
                @Html.LabelFor(model => model.MonthlyCardPayment, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.MonthlyCardPayment, Model.MonthlyCardPayments, "Wybierz wysokość opłaty", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MonthlyAccountPayment, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field8">
                @Html.LabelFor(model => model.PaymentCostFromOtherBank, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.PaymentCostFromOtherBank, Model.PaymentCostFromOtherBanks, "Wybierz wysokość opłaty", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.PaymentCostFromOtherBank, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group" id="field9">
                @Html.LabelFor(model => model.AvailableAbroad, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.AvailableAbroad)
                        @Html.ValidationMessageFor(model => model.AvailableAbroad, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="form-group" id="field10">
                @Html.LabelFor(model => model.InternetAccount, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.InternetAccount)
                        @Html.ValidationMessageFor(model => model.InternetAccount, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="form-group" id="field11">
                @Html.LabelFor(model => model.AdditionalInfo, htmlAttributes: new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.AdditionalInfo, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.AdditionalInfo, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="button" class="btn btn-info" value="Wstecz" onclick="location.href='@Url.Action("SelectNewDeal","Deal", new { @clientId = Model.ClientId}, null)'" />
                    <input type="submit" value="Dalej" class="btn btn-success"/>
                </div>
            </div>

        }
    </div>
</div>


@section Scripts{

@Scripts.Render("~/bundles/accountForm")

    <script type="text/javascript">
        $(document).ready(function() {
            animateAccountForm();
        });       
    </script>

}
