﻿@model Int32


<div class="row">
    <div class="col-md-offset-2 cols-md-10 deal-buttons-position">
        <div class="new-deal-header" id="header">Wybierz rodzaj umowy</div>

        <div class="row deal-buttons-position">
                <div class="col-md-offset-2 cols-md-2" id="deal1">
                    <a href="@Url.Action("NewCredit", "Deal", new {@clientId = @Model}, null)" class="new-deal-button">Kredyt</a>
                </div>
                <div class="col-md-offset-5 cols-md-2"  id="deal2">
                    <a href="@Url.Action("NewAccount", "Deal", new {@clientId = @Model}, null)" class="new-deal-button">Konto</a>
                </div>
                <div class="col-md-offset-8 cols-md-2"  id="deal3">
                    <a href="@Url.Action("NewDeposit", "Deal", new {@clientId = @Model}, null)" class="new-deal-button">Lokata</a>
                </div>
        </div>
    
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            $("#deal1").css({ visibility: "visible", opacity: 0.0 }).animate({ opacity: 1.0 },2000);
            $("#deal2").css({ visibility: "visible", opacity: 0.0 }).stop(true, true).delay(1000).animate({ opacity: 1.0 },2000);
            $("#deal3").css({ visibility: "visible", opacity: 0.0 }).stop(true, true).delay(2000).animate({ opacity: 1.0 },2000);
            $("#header").css({ visibility: "visible", opacity: 0.0 }).stop(true, true).delay(3000).animate({ opacity: 1.0 },2000);
            
        });

    </script>


}