﻿@model Bank.Models.ChartViewModel

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/chartist.css" rel="stylesheet" />
    <script src="~/Scripts/chartist.min.js"></script>
</head>
<body>

    <div class="row">
        <div class="col-md-offset-3 cols-md-4">
            <div class="chart-content">
                <div class="ct-chart ct-major-seventh" id="chart1">

                    <script>

                        // Create a simple bi-polar bar chart
                        var chart = new Chartist.Bar('#chart1', {
                            labels: ['Ilość klientów', 'Ilość umów', 'Ilość kont', 'Ilość kredytów', 'Ilośc lokat'],
                            series: [
                                [@Model.AmountOfClients, @Model.AmountOfDeals, @Model.AmountOfAccounts, @Model.AmountOfCredits, @Model.AmountOfDeposits]
                            ]
                        }, {
                            width: 600,
                            height: 400,

                            axisY: {
                                type: Chartist.AutoScaleAxis,
                                onlyInteger: true
                            }

                        });

                        // Listen for draw events on the bar chart
                        chart.on('draw', function (data) {
                            // If this draw event is of type bar we can use the data to create additional content
                            if (data.type === 'bar') {
                                // We use the group element of the current series to append a simple circle with the bar peek coordinates and a circle radius that is depending on the value
                                data.group.append(new Chartist.Svg('circle', {
                                    cx: data.x2,
                                    cy: data.y2,
                                    r: 10
                                }, 'ct-slice-pie'));
                            }
                        });

                    </script>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-3 cols-md-4">
            <div class="chart-content">
                <div class="ct-chart ct-major-seventh" id="chart2">
                    <script>

                        var data = {
                            labels: ['Kredyty', 'Konta', 'Lokaty'],
                            series: [@Model.AmountOfCredits, @Model.AmountOfAccounts, @Model.AmountOfDeposits]
                        };


                        var options = {
                            width: 500,
                            height: 500,
                            labelInterpolationFnc: function (value) {
                                return value;
                            }
                        };

                        var responsiveOptions = [
                          ['screen and (min-width: 640px)', {
                              chartPadding: 50,
                              labelOffset: 120,
                              labelDirection: 'explode',
                              labelInterpolationFnc: function (value) {
                                  return value;
                              }
                          }],
                          ['screen and (min-width: 1024px)', {
                              labelOffset: 120,
                              chartPadding: 50
                          }]
                        ];

                        new Chartist.Pie('#chart2', data, options, responsiveOptions);

                    </script>

                </div>
            </div>
        </div>
    </div>

</body>
</html>





