﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    height: 40px;
}

.navbar-nav > li > a {
  bottom: 5px;
}

.navbar-inverse {
  background-color: #120a5a;
  border-color: #120a5a;
}

.sidenav {
    float: left;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #120a5a;
    overflow-x: hidden;
    margin-top: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    top: 0;
    right: 25px;
    margin-left: 180px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.form-position {
    margin-top: 50px;
}

.form-control {
    margin-bottom: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    font-family: arial, sans-serif;

}


td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.clientslist {
    margin-top: 10px;
}

.clients-table-head {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: arial, sans-serif;
}

.new-deal-button {
    background-color: #232369;
    border: none;
    color: white;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.new-deal-button:hover { 
      text-decoration: none;
      color: white; 
}

.deal-buttons-position {
    margin-top: 50px;
    visibility: hidden;
}

.new-deal-header {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: arial, sans-serif;
    visibility: visible;
}

.checkbox-position {
    margin-top: 5px;
    margin-left: 5px;
}

.li {
    margin-bottom: 5px;
}

.link {
    color: #120a5a;
    font-size: 18px;
}

.link:hover {
    text-decoration: none;
    color: #120a5a;
}

.chart-content {
    margin-top: 50px;
}