﻿
<div class="row">
    <div class="col-md-offset-3 cols-md-4">
        <div class="col-md-offset-1 cols-md-4">
            <h4 style="margin-top: 100px; font-weight: bolder"> COŚ POSZŁO NIE TAK - SKONTAKTUJ SIĘ Z ADMINISTRATOREM SYSTEMU </h4>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="col-md-offset-3"><a class="error-button btn btn-lg btn-default" onclick="location.href='@Url.Action("Index", "Home")'">Powrót</a></div>

    </div>
</div>