﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link runat="server" rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
           @if (Request.IsAuthenticated)
           {
            <span style="font-size: 30px; cursor: pointer; color: white; " onclick="openNav()">&#9776;</span>
           }
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>


        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="@Url.Action("Statistics","Deal")">Główna</a>
            <a href="@Url.Action("ShowOffer","Deal")">Oferta</a>
            <a href="@Url.Action("ClientsPage","Client")">Klienci</a>
            <a href="@Url.Action("AddClient","Client")">Dodaj klienta</a>
            <a href="#">Inne</a>
        </div>

    <div class="container body-content">
        @RenderBody()
        @*<footer>
            </footer>*@
    </div>


    <script type="text/javascript">
       
        function openNav() {
            $("#mySidenav").css({ width: "250px", height: "100%", opacity: 0.0 }).animate({ opacity: 1.0 }, 2000);
        }

        function closeNav() {
            $("#mySidenav").css({ width: "0", height: "0", opacity: 0.0 });
        }
    </script>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
